/* Конфигуратор 1,2 общие */

.configurator .container {
  display: flex;
  align-items: stretch;
  gap: 42px;
  margin-top: 38px;
}

.selection-title {
  font-family: "Moula Medium";
  font-weight: 500;
  font-size: 26px;
  color: #444;
}

.selection__group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.item-scheme {
  border-radius: 6px;
  width: 910px;
  height: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item-scheme .overlay {
  position: absolute;
  border-radius: 6px;
  background: rgb(102 102 102 / 32%);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding: 20px;
  text-align: center;
}

.overlay__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.overlay__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.overlay__item.bottom {
  justify-content: space-between;
}

.overlay__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 17px;
  background: #fff;
  border-radius: 100px;
  cursor: default;
  font-family: "Moula Regular";
  font-weight: 400;
  font-size: 19px;
  color: #b5b5b5;
}

.overlay__btn .show-mobile {
  display: none;
}

.overlay__btn::before {
  content: "";
  width: 20px;
  height: 22px;
  opacity: 0.3;
}

.overlay__btn.pdf-icon::before {
  background: url("../assets/img/pdf_icon.png") no-repeat center;
  background-size: 19px auto;
}

.overlay__btn.dwg-icon::before {
  background: url("../assets/img/dwg_icon.svg") no-repeat center;
  background-size: 21px auto;
  width: 22px;
}

.overlay__btn.search-btn {
  padding: 13px;
}

.overlay__btn.search-btn::before {
  background: url("../assets/img/search_icon.svg") no-repeat center;
  background-size: 19px auto;
  width: 20px;
  height: 20px;
  background-size: 20px auto;
}

.item-scheme.--active .overlay__btn {
  cursor: pointer;
  color: #666;
}

.item-scheme.--active .overlay__btn::before {
  opacity: 1;
}

.download-scheme {
  opacity: 0.2;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0%,
  12.5% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-90deg);
  }

  37.5% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  62.5% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  87.5% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.download-scheme img {
  height: auto;
}

.item-scheme img {
  max-width: 100%;
}

.item-selection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-basis: 800px;
}

.conf-radio-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.conf-radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.conf-enter-btn {
  max-width: 196px;
}

.conf-enter-btn::placeholder {
  color: #333;
}

.item-selection label,
.conf-enter-btn {
  padding: 18px;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Moula Regular";
  font-weight: 400;
  font-size: 22px;
  line-height: 80%;
  background: transparent;
  border: 2px solid #191b1d;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-selection .conf-radio-btn:checked + label {
  background: #354292;
  color: #fff;
  border: 2px solid #354292;
}

hr.hr-line {
  border: none;
  border-top: 2px solid #ddd;
}

.selection-btn {
  display: flex;
  align-items: center;
  background: #354292;
  border-radius: 40px;
  max-width: 330px;
  padding: 20px 25px;
  font-family: "Moula Medium";
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  cursor: pointer;
  border: none;
  position: relative;
}

.selection-btn::after {
  content: "";
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 12px;
  height: 12px;
  transform: rotate(315deg);
  position: absolute;
  font-size: 24px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1140px) {
  .configurator .container {
    flex-direction: column-reverse;
  }
  .item-scheme {
    width: 100%;
    height: 730px;
  }

  .item-selection {
    flex-basis: auto;
  }
}

@media (max-width: 768px) {
  .selection-title {
    font-size: 23px;
  }
  .item-selection label,
  .conf-enter-btn {
    font-size: 21px;
    padding: 10px 20px;
  }
  .configurator .container {
    flex-direction: column-reverse;
  }
  .selection-btn {
    padding: 18px 23px;
  }
  .item-selection {
    gap: 45px;
  }
  .item-scheme {
    height: 430px;
  }
  .item-scheme img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .item-scheme .download-scheme {
    width: 20%;
    height: auto;
  }
  .item-scheme .overlay {
    padding: 10px;
  }
  .overlay__btn {
    padding: 10px 13px;
    font-size: 16px;
  }
  .overlay__btn::before {
    width: 15px;
    height: 17px;
  }
  .overlay__btn.search-btn {
    padding: 10px;
  }
  .overlay__btn.search-btn::before {
    width: 17px;
    height: 17px;
    background-size: 17px auto;
  }
  .overlay__btn.pdf-icon::before {
    background-size: 15px auto;
  }
  .overlay__btn.dwg-icon::before {
    background-size: 17px auto;
    width: 17px;
  }
  .overlay__btn .show-desktop {
    display: none;
  }
  .overlay__btn .show-mobile {
    display: flex;
  }
  .item-scheme {
    display: none;
  }
}
